In [7]:
from cassandra.cluster import Cluster
cluster = Cluster(["172.17.0.2"])
session = cluster.connect("tfbda")
query = 'select ano, count(mes), qtd_obt,sum(vlr_bnf), cod_mun FROM tfbda.bsafm_obt GROUP BY ano, cod_mun'
# qtd_obt jah eh a mesma por conta do dado ser anual
# rows = session.execute('SELECT ano, mes, count(*) FROM bsa_fam GROUP BY ano, mes'210055)
# rows = session.execute('SELECT * FROM bsa_fam obt_inf where bsa_fam.cod_mun = obt_inf.cod_mun ALLOW FILTERING')
# rows = session.execute('SELECT * FROM obt_inf  where cod_mun = 210055 ALLOW FILTERING')
rows = session.execute(query)
rows[:]

[Row(ano=2014, system_count_mes=12, qtd_obt=36, system_sum_vlr_bnf=22396579.0, cod_mun=210005),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=2913500.0, cod_mun=210010),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=4784574.0, cod_mun=210015),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=9942430.0, cod_mun=210020),
 Row(ano=2014, system_count_mes=12, qtd_obt=15, system_sum_vlr_bnf=8545408.0, cod_mun=210030),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2895842.0, cod_mun=210040),
 Row(ano=2014, system_count_mes=12, qtd_obt=13, system_sum_vlr_bnf=10858674.0, cod_mun=210043),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=11160674.0, cod_mun=210047),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=3111700.0, cod_mun=210050),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=2744017.0, cod_mun=210055),
 Row(ano=2014, system_count_mes=12, qtd_obt=20, system_sum_vlr_bnf=13333602.0, cod_mun=210060),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=13282792.0, cod_mun=210070),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=8877248.0, cod_mun=210080),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=8519744.0, cod_mun=210083),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=19799144.0, cod_mun=210090),
 Row(ano=2014, system_count_mes=12, qtd_obt=9, system_sum_vlr_bnf=8881909.0, cod_mun=210095),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=11756745.0, cod_mun=210100),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=6222633.0, cod_mun=210110),
 Row(ano=2014, system_count_mes=12, qtd_obt=29, system_sum_vlr_bnf=29247151.0, cod_mun=210120),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5532242.0, cod_mun=210125),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5890748.0, cod_mun=210130),
 Row(ano=2014, system_count_mes=12, qtd_obt=55, system_sum_vlr_bnf=18986401.0, cod_mun=210140),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=4769268.0, cod_mun=210150),
 Row(ano=2014, system_count_mes=12, qtd_obt=28, system_sum_vlr_bnf=23969394.0, cod_mun=210160),
 Row(ano=2014, system_count_mes=12, qtd_obt=8, system_sum_vlr_bnf=25887953.0, cod_mun=210170),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=4003728.0, cod_mun=210173),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=5346018.0, cod_mun=210177),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2663671.0, cod_mun=210180),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=8592041.0, cod_mun=210190),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=1970558.0, cod_mun=210193),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=4116246.0, cod_mun=210197),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=13246838.0, cod_mun=210200),
 Row(ano=2014, system_count_mes=12, qtd_obt=13, system_sum_vlr_bnf=11411904.0, cod_mun=210203),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=3856535.0, cod_mun=210207),
 Row(ano=2014, system_count_mes=12, qtd_obt=10, system_sum_vlr_bnf=21017008.0, cod_mun=210210),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2658338.0, cod_mun=210215),
 Row(ano=2014, system_count_mes=12, qtd_obt=13, system_sum_vlr_bnf=11674340.0, cod_mun=210220),
 Row(ano=2014, system_count_mes=12, qtd_obt=11, system_sum_vlr_bnf=8617448.0, cod_mun=210230),
 Row(ano=2014, system_count_mes=12, qtd_obt=24, system_sum_vlr_bnf=15342708.0, cod_mun=210232),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=6457922.0, cod_mun=210235),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=6297208.0, cod_mun=210237),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=11574732.0, cod_mun=210250),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=3351682.0, cod_mun=210255),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=7677678.0, cod_mun=210260),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=8466532.0, cod_mun=210270),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=8100099.0, cod_mun=210280),
 Row(ano=2014, system_count_mes=12, qtd_obt=11, system_sum_vlr_bnf=10499692.0, cod_mun=210290),
 Row(ano=2014, system_count_mes=12, qtd_obt=52, system_sum_vlr_bnf=41129209.0, cod_mun=210300),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=4341874.0, cod_mun=210312),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=5403106.0, cod_mun=210315),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=8384236.0, cod_mun=210317),
 Row(ano=2014, system_count_mes=12, qtd_obt=22, system_sum_vlr_bnf=32185451.0, cod_mun=210320),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=5044924.0, cod_mun=210325),
 Row(ano=2014, system_count_mes=12, qtd_obt=38, system_sum_vlr_bnf=36962842.0, cod_mun=210330),
 Row(ano=2014, system_count_mes=12, qtd_obt=24, system_sum_vlr_bnf=14830076.0, cod_mun=210340),
 Row(ano=2014, system_count_mes=12, qtd_obt=9, system_sum_vlr_bnf=17710919.0, cod_mun=210350),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=7703558.0, cod_mun=210355),
 Row(ano=2014, system_count_mes=12, qtd_obt=12, system_sum_vlr_bnf=24650253.0, cod_mun=210360),
 Row(ano=2014, system_count_mes=12, qtd_obt=9, system_sum_vlr_bnf=12261071.0, cod_mun=210370),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=3630685.0, cod_mun=210375),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=6625790.0, cod_mun=210380),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=6393239.0, cod_mun=210390),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=9342011.0, cod_mun=210400),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=7108680.0, cod_mun=210405),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=3553015.0, cod_mun=210407),
 Row(ano=2014, system_count_mes=12, qtd_obt=11, system_sum_vlr_bnf=5164864.0, cod_mun=210408),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=8130936.0, cod_mun=210409),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=4302902.0, cod_mun=210410),
 Row(ano=2014, system_count_mes=12, qtd_obt=9, system_sum_vlr_bnf=6800503.0, cod_mun=210420),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=3860312.0, cod_mun=210430),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=7148868.0, cod_mun=210440),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=3927364.0, cod_mun=210450),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=4394573.0, cod_mun=210455),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=6873576.0, cod_mun=210460),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2774491.0, cod_mun=210462),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=3754549.0, cod_mun=210465),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=10447101.0, cod_mun=210467),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2299540.0, cod_mun=210470),
 Row(ano=2014, system_count_mes=12, qtd_obt=32, system_sum_vlr_bnf=17025079.0, cod_mun=210480),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5679507.0, cod_mun=210490),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=13238768.0, cod_mun=210500),
 Row(ano=2014, system_count_mes=12, qtd_obt=8, system_sum_vlr_bnf=15046412.0, cod_mun=210510),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=6837884.0, cod_mun=210515),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=4188483.0, cod_mun=210520),
 Row(ano=2014, system_count_mes=12, qtd_obt=58, system_sum_vlr_bnf=33084776.0, cod_mun=210530),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=7554010.0, cod_mun=210535),
 Row(ano=2014, system_count_mes=12, qtd_obt=15, system_sum_vlr_bnf=14961146.0, cod_mun=210540),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=7279254.0, cod_mun=210542),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=4406896.0, cod_mun=210545),
 Row(ano=2014, system_count_mes=12, qtd_obt=11, system_sum_vlr_bnf=6958822.0, cod_mun=210547),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=9140603.0, cod_mun=210550),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=6272696.0, cod_mun=210560),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2947647.0, cod_mun=210565),
 Row(ano=2014, system_count_mes=12, qtd_obt=13, system_sum_vlr_bnf=17270154.0, cod_mun=210570),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=3743642.0, cod_mun=210580),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5295781.0, cod_mun=210592),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=3574705.0, cod_mun=210594),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=4642299.0, cod_mun=210596),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=3252666.0, cod_mun=210598),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5470678.0, cod_mun=210610),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=5515926.0, cod_mun=210630),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=7352297.0, cod_mun=210632),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=3031571.0, cod_mun=210635),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5936273.0, cod_mun=210637),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=10920763.0, cod_mun=210640),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=13139044.0, cod_mun=210650),
 Row(ano=2014, system_count_mes=12, qtd_obt=8, system_sum_vlr_bnf=11687391.0, cod_mun=210660),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=8569799.0, cod_mun=210670),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=8520218.0, cod_mun=210675),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=6976420.0, cod_mun=210680),
 Row(ano=2014, system_count_mes=12, qtd_obt=13, system_sum_vlr_bnf=14589341.0, cod_mun=210690),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=3291097.0, cod_mun=210700),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=9696412.0, cod_mun=210710),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=6144655.0, cod_mun=210720),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=6747499.0, cod_mun=210735),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=8490805.0, cod_mun=210740),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5666593.0, cod_mun=210745),
 Row(ano=2014, system_count_mes=12, qtd_obt=32, system_sum_vlr_bnf=20824492.0, cod_mun=210750),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=11618707.0, cod_mun=210760),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=9812679.0, cod_mun=210770),
 Row(ano=2014, system_count_mes=12, qtd_obt=13, system_sum_vlr_bnf=12749924.0, cod_mun=210780),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=7400425.0, cod_mun=210790),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=7923062.0, cod_mun=210800),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=9541501.0, cod_mun=210805),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=6996898.0, cod_mun=210810),
 Row(ano=2014, system_count_mes=12, qtd_obt=11, system_sum_vlr_bnf=9714008.0, cod_mun=210820),
 Row(ano=2014, system_count_mes=12, qtd_obt=9, system_sum_vlr_bnf=12348303.0, cod_mun=210825),
 Row(ano=2014, system_count_mes=12, qtd_obt=15, system_sum_vlr_bnf=14405922.0, cod_mun=210830),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=5114354.0, cod_mun=210840),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=10136480.0, cod_mun=210845),
 Row(ano=2014, system_count_mes=12, qtd_obt=10, system_sum_vlr_bnf=11232560.0, cod_mun=210850),
 Row(ano=2014, system_count_mes=12, qtd_obt=25, system_sum_vlr_bnf=28206802.0, cod_mun=210860),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=9566322.0, cod_mun=210870),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=8993234.0, cod_mun=210880),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=5977951.0, cod_mun=210890),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=4374589.0, cod_mun=210900),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=2289600.0, cod_mun=210905),
 Row(ano=2014, system_count_mes=12, qtd_obt=9, system_sum_vlr_bnf=11149852.0, cod_mun=210910),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=7172078.0, cod_mun=210920),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=2342997.0, cod_mun=210923),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=10164747.0, cod_mun=210927),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=5602641.0, cod_mun=210940),
 Row(ano=2014, system_count_mes=12, qtd_obt=9, system_sum_vlr_bnf=9082986.0, cod_mun=210945),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=8107792.0, cod_mun=210950),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=10732370.0, cod_mun=210960),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2020378.0, cod_mun=210970),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2679940.0, cod_mun=210975),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=11964914.0, cod_mun=210980),
 Row(ano=2014, system_count_mes=12, qtd_obt=27, system_sum_vlr_bnf=18930090.0, cod_mun=210990),
 Row(ano=2014, system_count_mes=12, qtd_obt=19, system_sum_vlr_bnf=28804491.0, cod_mun=211000),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=10216232.0, cod_mun=211003),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=16218330.0, cod_mun=211010),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=15679575.0, cod_mun=211020),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=5573966.0, cod_mun=211027),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=4881865.0, cod_mun=211030),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=10543015.0, cod_mun=211040),
 Row(ano=2014, system_count_mes=12, qtd_obt=8, system_sum_vlr_bnf=16804663.0, cod_mun=211050),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=11073359.0, cod_mun=211060),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=3784958.0, cod_mun=211065),
 Row(ano=2014, system_count_mes=12, qtd_obt=15, system_sum_vlr_bnf=12789460.0, cod_mun=211070),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=2320587.0, cod_mun=211080),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=2478983.0, cod_mun=211085),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=11595305.0, cod_mun=211100),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5785560.0, cod_mun=211102),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=9025316.0, cod_mun=211107),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=6163774.0, cod_mun=211110),
 Row(ano=2014, system_count_mes=12, qtd_obt=57, system_sum_vlr_bnf=39679516.0, cod_mun=211120),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=3024100.0, cod_mun=211125),
 Row(ano=2014, system_count_mes=12, qtd_obt=283, system_sum_vlr_bnf=152841021.0, cod_mun=211130),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=9173631.0, cod_mun=211140),
 Row(ano=2014, system_count_mes=12, qtd_obt=12, system_sum_vlr_bnf=14965603.0, cod_mun=211150),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=3554756.0, cod_mun=211153),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=1403525.0, cod_mun=211157),
 Row(ano=2014, system_count_mes=12, qtd_obt=10, system_sum_vlr_bnf=6228193.0, cod_mun=211160),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=3432481.0, cod_mun=211167),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=10546799.0, cod_mun=211170),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=3979288.0, cod_mun=211172),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=4763716.0, cod_mun=211174),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=6408136.0, cod_mun=211176),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=7313943.0, cod_mun=211178),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=7539382.0, cod_mun=211180),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=5946762.0, cod_mun=211190),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=1728085.0, cod_mun=211195),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2824999.0, cod_mun=211200),
 Row(ano=2014, system_count_mes=12, qtd_obt=10, system_sum_vlr_bnf=12157445.0, cod_mun=211210),
 Row(ano=2014, system_count_mes=12, qtd_obt=38, system_sum_vlr_bnf=38868263.0, cod_mun=211220),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=5289733.0, cod_mun=211223),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=3098704.0, cod_mun=211227),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=10965138.0, cod_mun=211230),
 Row(ano=2014, system_count_mes=12, qtd_obt=8, system_sum_vlr_bnf=18863471.0, cod_mun=211240),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=9853719.0, cod_mun=211245),
 Row(ano=2014, system_count_mes=12, qtd_obt=9, system_sum_vlr_bnf=22123512.0, cod_mun=211250),
 Row(ano=2014, system_count_mes=12, qtd_obt=4, system_sum_vlr_bnf=12305786.0, cod_mun=211260),
 Row(ano=2014, system_count_mes=12, qtd_obt=16, system_sum_vlr_bnf=22961389.0, cod_mun=211270),
 Row(ano=2014, system_count_mes=12, qtd_obt=19, system_sum_vlr_bnf=19388466.0, cod_mun=211280),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=2001660.0, cod_mun=211285),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=12784838.0, cod_mun=211290),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=14017425.0, cod_mun=211300),
 Row(ano=2014, system_count_mes=12, qtd_obt=14, system_sum_vlr_bnf=15299328.0, cod_mun=211400),
 Row(ano=2009, system_count_mes=12, qtd_obt=36, system_sum_vlr_bnf=12206180.0, cod_mun=210005),
 Row(ano=2009, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=937648.0, cod_mun=210010),
 Row(ano=2009, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=2231289.0, cod_mun=210015),
 Row(ano=2009, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=4032548.0, cod_mun=210020),
 Row(ano=2009, system_count_mes=12, qtd_obt=12, system_sum_vlr_bnf=3857049.0, cod_mun=210030),
 Row(ano=2009, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=1856455.0, cod_mun=210040),
 Row(ano=2009, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=3975715.0, cod_mun=210043),
 Row(ano=2009, system_count_mes=12, qtd_obt=8, system_sum_vlr_bnf=5402979.0, cod_mun=210047),
 Row(ano=2009, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=1650910.0, cod_mun=210050),
 Row(ano=2009, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=1091637.0, cod_mun=210055),
 Row(ano=2009, system_count_mes=12, qtd_obt=16, system_sum_vlr_bnf=6282707.0, cod_mun=210060),
 Row(ano=2009, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=4750075.0, cod_mun=210070),

In [153]:
# verificando a soma dos valores bnf 
query = """select ano, mes, qtd_obt,vlr_bnf, cod_mun FROM tfbda.bsafm_obt
where cod_mun = 210005 and ano = 2014 GROUP BY ano, cod_mun, mes limit 24 ALLOW FILTERING"""
rows = session.execute(query)
rows[:]
a = 0

for item in rows:
    a += item.vlr_bnf
#     print(item.vlr_bnf)
    
print(a)

22396579.0

In [91]:
# criando o arquivo merged file, que  a juncao do bolsa familia e obitos
import pandas as p

df1 = pd.read_csv('obitos_infantis_MA.csv', sep = ';')
# df = pd.read_csv('novos_dados.csv',encoding ='latin1', error_bad_lines=False, sep='\t', header=0)
df2 = pd.read_csv('bolsa_familia_Brasil.csv', encoding ='latin1', error_bad_lines=False)
# df2.to_csv('bolsa_familia_Brasil.csv', encoding='utf-8')
# df2 = pd.read_csv('bolsa_familia_Brasil.csv')
print(df1.columns)
print(df2.columns)
df3 = pd.merge(df1, df2, on=['cod_mun', 'ano'])
df3 = df3.drop(df3.columns[df3.columns.str.contains('unnamed',case = False)],axis = 1)
df3.to_csv('merged_data.csv')
#select ano, mes, qtd_obt,sum(qtd_fam), cod_mun FROM tfbda.bsafm_obt GROUP BY ano, mes, cod_mun limit 24;

Index(['ano', 'cod_mun', 'num_obt'], dtype='object')
Index(['ano', 'ms', 'cod_mun', 'ano_mes', 'qtd_fam', 'vlr_bnf'], dtype='object')

In [74]:
#cria dataframe
import pandas as pd
import numpy as np

ano = []
municipio = []
valor = []
obitos = []
for item in rows:
    ano.append(item.ano)
    municipio.append(item.cod_mun)
    valor.append(item.system_sum_vlr_bnf)
    obitos.append(item.qtd_obt)

df = pd.DataFrame()

df[0] = ano
df[1] = obitos
df[2] = valor
df[3] = municipio
df.columns = ['ano', 'obitos', 'valor', 'mun']

In [107]:
df[df['mun']==210180]

       ano  obitos      valor     mun
27    2014       1  2663671.0  210180
227   2009       1   954604.0  210180
844   2006       1   538211.0  210180
1253  2007       1   679939.0  210180
1462  2015       1  2791130.0  210180
1861  2004       1   164660.0  210180
2063  2016       1  2944235.0  210180

In [125]:
print(len(pd.unique(df['mun'])))
uniqueMun = pd.unique(df['mun'])

l = []
#calcula coeficiente de correlacao
for item in uniqueMun:
    data = df[df['mun'] == item]
    data = data.sort_values(by = 'ano')
    a  = np.corrcoef((data['valor']), data['obitos'] )
    #cria uma lista de municipio e coeficiente
    l.append(list([item, a[1,0]]))
    
#cria um dataframe(tabela) de municipio e  coeficiente de correlacao
dfcoef = pd.DataFrame(l,columns=list(['mun', 'coef'])) 
dfcoef.to_csv("municipio e correlacao.csv", index = False)

217
Index(['mun', 'coef'], dtype='object')

/home/pedro/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:2400: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/home/pedro/.local/lib/python3.6/site-packages/numpy/lib/function_base.py:2401: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]