In [152]:
from cassandra.cluster import Cluster
cluster = Cluster(["172.17.0.2"])
session = cluster.connect("tfbda")
query = 'select ano, count(mes), qtd_obt,sum(vlr_bnf), cod_mun FROM tfbda.bsafm_obt GROUP BY ano, cod_mun limit 24'
# qtd_obt jah eh a mesma por conta do dado ser anual
# rows = session.execute('SELECT ano, mes, count(*) FROM bsa_fam GROUP BY ano, mes'210055)
# rows = session.execute('SELECT * FROM bsa_fam obt_inf where bsa_fam.cod_mun = obt_inf.cod_mun ALLOW FILTERING')
# rows = session.execute('SELECT * FROM obt_inf  where cod_mun = 210055 ALLOW FILTERING')
rows = session.execute(query)
rows[:]

[Row(ano=2014, system_count_mes=12, qtd_obt=36, system_sum_vlr_bnf=22396579.0, cod_mun=210005),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=2913500.0, cod_mun=210010),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=4784574.0, cod_mun=210015),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=9942430.0, cod_mun=210020),
 Row(ano=2014, system_count_mes=12, qtd_obt=15, system_sum_vlr_bnf=8545408.0, cod_mun=210030),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=2895842.0, cod_mun=210040),
 Row(ano=2014, system_count_mes=12, qtd_obt=13, system_sum_vlr_bnf=10858674.0, cod_mun=210043),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=11160674.0, cod_mun=210047),
 Row(ano=2014, system_count_mes=12, qtd_obt=1, system_sum_vlr_bnf=3111700.0, cod_mun=210050),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=2744017.0, cod_mun=210055),
 Row(ano=2014, system_count_mes=12, qtd_obt=20, system_sum_vlr_bnf=13333602.0, cod_mun=210060),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=13282792.0, cod_mun=210070),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=8877248.0, cod_mun=210080),
 Row(ano=2014, system_count_mes=12, qtd_obt=7, system_sum_vlr_bnf=8519744.0, cod_mun=210083),
 Row(ano=2014, system_count_mes=12, qtd_obt=5, system_sum_vlr_bnf=19799144.0, cod_mun=210090),
 Row(ano=2014, system_count_mes=12, qtd_obt=9, system_sum_vlr_bnf=8881909.0, cod_mun=210095),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=11756745.0, cod_mun=210100),
 Row(ano=2014, system_count_mes=12, qtd_obt=3, system_sum_vlr_bnf=6222633.0, cod_mun=210110),
 Row(ano=2014, system_count_mes=12, qtd_obt=29, system_sum_vlr_bnf=29247151.0, cod_mun=210120),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5532242.0, cod_mun=210125),
 Row(ano=2014, system_count_mes=12, qtd_obt=2, system_sum_vlr_bnf=5890748.0, cod_mun=210130),
 Row(ano=2014, system_count_mes=12, qtd_obt=55, system_sum_vlr_bnf=18986401.0, cod_mun=210140),
 Row(ano=2014, system_count_mes=12, qtd_obt=6, system_sum_vlr_bnf=4769268.0, cod_mun=210150),
 Row(ano=2014, system_count_mes=12, qtd_obt=28, system_sum_vlr_bnf=23969394.0, cod_mun=210160)]

In [153]:
# verificando a soma dos valores bnf 
query = """select ano, mes, qtd_obt,vlr_bnf, cod_mun FROM tfbda.bsafm_obt
where cod_mun = 210005 and ano = 2014 GROUP BY ano, cod_mun, mes limit 24 ALLOW FILTERING"""
rows = session.execute(query)
rows[:]
a = 0

for item in rows:
    a += item.vlr_bnf
#     print(item.vlr_bnf)
    
print(a)

22396579.0

In [91]:
# criando o arquivo merged file, que é a juncao do bolsa familia e obitos
import pandas as p

df1 = pd.read_csv('obitos_infantis_MA.csv', sep = ';')
# df = pd.read_csv('novos_dados.csv',encoding ='latin1', error_bad_lines=False, sep='\t', header=0)
df2 = pd.read_csv('bolsa_familia_Brasil.csv', encoding ='latin1', error_bad_lines=False)
# df2.to_csv('bolsa_familia_Brasil.csv', encoding='utf-8')
# df2 = pd.read_csv('bolsa_familia_Brasil.csv')
print(df1.columns)
print(df2.columns)
df3 = pd.merge(df1, df2, on=['cod_mun', 'ano'])
df3 = df3.drop(df3.columns[df3.columns.str.contains('unnamed',case = False)],axis = 1)
df3.to_csv('merged_data.csv')
#select ano, mes, qtd_obt,sum(qtd_fam), cod_mun FROM tfbda.bsafm_obt GROUP BY ano, mes, cod_mun limit 24;

Index(['ano', 'cod_mun', 'num_obt'], dtype='object')
Index(['ano', 'mês', 'cod_mun', 'ano_mes', 'qtd_fam', 'vlr_bnf'], dtype='object')